header{
  height: 400px;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  background-color: #849ae4;
  color: #FFFFFF;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-top: 120px;
  
}

@media only screen and (min-width: 1024px) {
  header {
    width: 60%;
    margin: 11% 14% 0% 5%;
  }
}
